[Desktop Entry]
Version=1.0
Type=Application
Name=Sherlock 
Comment=
Exec=sudo bash sherlocklauncherUS.txt
Icon=compass
Path=/home/kali/sherlock/sherlock
Terminal=true
StartupNotify=false
